<!doctype html>
<html ng-app="Options" ng-csp>

	<head>
		<meta charset="utf-8">
		<title>Environment Monitor - Options</title>

		<!-- build:css assets/css/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css assets/css/options.css -->
		<link rel="stylesheet" href="assets/css/options.css">
		<!-- endbuild -->

		<!-- build:js assets/js/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js assets/js/options.js -->
		<script src="assets/js/options.js"></script>
		<!-- endbuild -->
	</head>

	<body ng-controller="OptionsCtrl">
		<div class="container">
			<header class="row">
				<div class="col-xs-12">
					<h1 class="logo text-center">
						<img src="assets/images/icon-128.png" width="50" alt="Environment Monitor">
					</h1>
				</div>
			</header>

			<section class="row content">
				<div class="col-xs-12">
					<form class="form-horizontal" id="options-form" role="form">
						<div class="form-group">
							<label class="col-sm-4 control-label" for="default-environment">Default Environment</label>
							<div class="col-sm-8">
								<select class="form-control" name="default-environment" ng-model="defaultEnvironment" ng-change="updateDefaultEnv()">
									<option value="none">None</option>
									<option ng-repeat="env in environments" value="{{env.id}}" ng-selected="env.id === defaultEnvironment">{{env.title}}</option>
								</select>
								<p>- its status will be shown on the extension icon
									<br>
									- you will receive desktop notifications when something changes</p>
							</div>
						</div>
					</form>
				</div>
			</section>

			<footer class="row footer">
				<div class="col-xs-12">
					<p class="text-center">{{appVersion}}</p>
					<p class="text-center no-margin">&copy; Copyright 2014</p>
				</div>
			</footer>

		</div>
	</body>

</html>
