<!doctype html>
<html>

	<head>
		<!-- build:css assets/css/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css assets/css/main.css -->
		<link href="assets/css/main.css" rel="stylesheet">
		<!-- endbuild -->

		<!-- build:js assets/js/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<!-- endbower -->
		<script src="assets/js/vendor/ashe.js"></script>
		<!-- endbuild -->

		<!-- build:js assets/js/popup.js -->
		<script src="assets/js/popup.js"></script>
		<!-- endbuild -->
	</head>

	<body>
		<div class="wrap">
			<div class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<a href="" class="navbar-brand">DAx Environment Monitor <i class="glyphicon glyphicon-refresh"></i></a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row" id="render-container">
					<div class="col-xs-12">
						<p class="loading lead">Loading...</p>
					</div>
				</div>
			</div>
		</div>

		<script id="template-envs" type="html/template">
			{% for env in environments %}
			<div class="col-xs-6">
				<div id="{{env.name}}" class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">
							<strong>{{env.label}}</strong>

							{% if env.hasUnique %}
							<span title="This environment contains an unique latest package!" class="glyphicon glyphicon-flag"></span>
							{% endif %}

							{% if env.onFire %}
							<span title="All packages are latest version!" class="glyphicon glyphicon-fire"></span>
							{% endif %}
						</h1>
					</div>
					<table class="package table table-condensed table-hover">
						<thead>
							<th>Repo</th>
							<th class="text-center">Branch</th>
							<th class="text-right">Rev</th>
						</thead>
						<tbody id="package-{{env.name}}">
							<tr>
								<td>Loading packages...</td>
							</tr>
						</tbody>
					</table>
					<div class="server-status panel-footer" id="status-{{env.name}}">
						<p>Loading status...</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</script>

		<script id="template-packages" type="html/template">
			{% for package in packages %}
				<tr>
					<td>{{package.repo}}</td>
					<td class="text-center">{{package.branch}}</td>
					<td class="text-right">
						{% if package.latest %}
							{% if package.unique %}
							<span title="Latest package of its kind, only in this environment!" class='glyphicon glyphicon-star'></span>
							{% else %}
							<span title="Latest package of its kind!" class="glyphicon glyphicon-star-empty"></span>
							{% endif %}
						{% endif %}
						{{package.revision}}
					</td>
				</tr>
			{% endfor %}
		</script>

		<script id="template-status" type="html/template">
			<div class="row">
				<div class="col-xs-6">
					<div class="alert alert-{{status.apacheStatus.class}}">
						<strong>Apache</strong>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="alert alert-{{status.tomcatStatus.class}}">
						<strong>Tomcat</strong>
					</div>
				</div>
			</div>
		</script>
	</body>

</html>
