<!doctype html>
<html ng-app="EnvMonitor" ng-csp>

	<head>
		<meta charset="utf-8">
		<title>Environment Monitor</title>

		<!-- build:css assets/css/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:css assets/css/popup.css -->
		<link rel="stylesheet" href="assets/css/popup.css">
		<!-- endbuild -->

		<!-- build:js assets/js/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js assets/js/popup.js -->
		<script src="assets/js/popup.js"></script>
		<!-- endbuild -->
	</head>

	<body ng-controller="PopupCtrl">
		<div class="wrap">
			<div class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<a href="" class="navbar-brand">Environment Monitor <i class="glyphicon glyphicon-refresh"></i></a>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div ng-if="loading" class="col-xs-12">
						<p class="loading lead">Loading...</p>
					</div>
					<div ng-if="!environments && !loading" class="col-xs-12">
						<p class="loading lead">Sorry, no data could be retrieved :(
							<br>Please, set the API URL in the <a href="options.html" target="_blank">Options</a> page first.</p>
					</div>
					<div ng-if="!loading && environments">
						<div class="col-xs-6" ng-repeat="env in environments" ng-class-odd="'clear'">
							<div class="panel panel-default">
								<label class="panel-heading" ng-click="selectEnv(env.id)">
									<h1 class="panel-title">
										<strong>{{env.title}}</strong>
										<span ng-if="env.hasUnique" title="This environment contains an unique latest package!" class="glyphicon glyphicon-flag"></span>
										<span ng-if="env.onFire" title="All packages are latest version!" class="glyphicon glyphicon-fire"></span>
										<span class="default-environment"><input ng-model="selectedEnvId" type="radio" class="default-environment-radio" name="defaultEnvironment" value="{{env.id}}"></span>
									</h1>
								</label>
								<table class="package table table-condensed table-hover">
									<thead ng-if="env.packages">
										<th>Repo</th>
										<th class="text-center">Branch</th>
										<th class="text-right">Rev</th>
									</thead>
									<tbody>
										<tr ng-if="!env.packages">
											<td colspan="3"><p>Loading status...</p><td>
										</tr>
										<tr ng-if="env.packages" ng-repeat="package in env.packages">
											<td>{{package.repo}}</td>
											<td class="text-center">{{package.branch}}</td>
											<td class="text-right">
												<span ng-if="package.unique" title="Latest package of its kind, only in this environment!" class='glyphicon glyphicon-star'></span>
												<span ng-if="package.latest && !package.unique" title="Latest package of its kind!" class="glyphicon glyphicon-star-empty"></span>
												{{package.revision}}
											</td>
										</tr>
									</tbody>
								</table>
								<div class="server-status panel-footer">
									<p ng-if="!env.services">Loading status...</p>
									<div class="row" ng-if="env.services">
										<div class="col-xs-{{12/env.services.length}}" ng-repeat="service in env.services">
											<div class="alert" ng-class="{'alert-success': service.online, 'alert-danger': !service.online}">
												<strong>{{service.title}}</strong>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
