
@font-face {
	font-family: 'Viga Regular';
	src: url('../fonts/viga-regular.eot');
	src: url('../fonts/viga-regular.woff') format('woff'),
		 url('../fonts/viga-regular.ttf') format('truetype'),
		 url('../fonts/viga-regular.svg#vigaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/pt-sans.eot');
	src: url('../fonts/pt-sans.woff') format('woff'),
		 url('../fonts/pt-sans.ttf') format('truetype'),
		 url('../fonts/pt-sans.svg#ptsans') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {
	font-family: 'Ubuntu Regular';
	src: url('../fonts/ubuntu-regular.eot');
	src: url('../fonts/ubuntu-regular.woff') format('woff'),
		 url('../fonts/ubuntu-regular.ttf') format('truetype'),
		 url('../fonts/ubuntu-regular.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'Ubuntu Bold';
	src: url('../fonts/ubuntu-bold.eot');
	src: url('../fonts/ubuntu-bold.woff') format('woff'),
		 url('../fonts/ubuntu-bold.ttf') format('truetype'),
		 url('../fonts/ubuntu-bold.svg#ubuntubold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.wrap {
	position: relative;
	min-width: 600px;
	min-height: 300px;
}

.navbar-brand .glyphicon-refresh {
	visibility: hidden;
}

.navbar-brand:hover .glyphicon-refresh {
	visibility: visible;
}

.panel-heading {
	padding: 8px 10px;
	display: block;
	cursor: pointer;
}

.panel-title {
	font-size: 14px;
	/*display: inline-block;*/
}

.panel-footer {
	padding: 10px;
	background: none;
	font-size: 12px;
}

.panel-footer .alert {
	margin-bottom: 0;
	text-align: center;
	padding: 6px 8px 4px;
	font-size: 10px;
}

.loading {
	margin-left: auto;
	margin-right: auto;
}

.package,
.server-status {
	font-size: 13px;
}

.package td,
.package th,
.server-status td {
	padding: 5px 10px !important;
}

.glyphicon {
	display: inline-block;
	font-size: 12px;
}

.glyphicon-star,
.glyphicon-star-empty {
	color: rgba(37, 71, 133, 0.8);
}

.glyphicon-flag {
	color: rgba(37, 71, 133, 0.8);
	margin-left: 2px;
}

.glyphicon-fire {
	color: rgba(37, 71, 133, 0.8);
}

.default-environment {
	position: absolute;
	right: 26px;
	display: inline-block;
}

.default-environment input {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.clear {
	clear: left;
}

body {
	background: #eee;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
	border-radius: 0;
}

.navbar-nav {
	margin: 7.5px -15px 0;
}

.navbar-inverse {
	background: rgba(37, 48, 79, 0.8);
	border: none;
	border-bottom: 1px solid rgba(44, 61, 82, .4);
}

.navbar-header {
	color: #fff;
	font-family: 'Viga Regular', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	float: left;
}

.navbar-right {
	float: right;
	margin-right: 15px;
}

.navbar-header .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	transition: all 0.3s ease-out;
}

.panel {
	background-color: #fff;
	border: none;
	border-bottom: 3px solid rgba(37, 48, 79, 0.3);
	border-radius: 0;
}

.panel-default > .panel-heading {
	background-color: rgba(37, 48, 79, 0.2);
	border-color: rgba(202, 209, 219, .5);
	border-radius: 0;
	transition: all 0.3s ease-out;
}

.panel-default > .panel-heading:hover {
	background: rgba(37, 48, 79, 0.3);
}

.panel-title {
	font-size: 16px;
	font-family: 'Ubuntu Bold', sans-serif;
	color: rgba(37, 48, 79, 0.8);
}

.navbar-collapse {
	padding: 0;
}

.navbar-nav > li > a {
	padding-right: 0;
}

.navbar-link .glyphicon {
	font-size: 18px;
}

.table > thead > tr > th {
	border-bottom: none;
}

.table > tbody > tr > td {
	border-top: 1px solid rgba(202, 209, 219, .2);
}

.table-hover > tbody > tr:hover > td {
	background-color: rgba(37, 48, 79, 0.05);
	transition: all 0.3s ease-out;
}

.alert-success {
	border-color: none;
	background-color: rgba(60, 118, 61, 0.2);
}

.alert-danger {
	border-color: none;
	background-color: rgba(169, 68, 66, 0.2);
}
